<div class="d-flex justify-content-between p-3 mb-3 border-bottom">
  <h1 class="h2">Edit Event Details</h1>
  <button class="btn btn-primary hBack" type="button" onclick="goBack()">Back</button>
</div>

<div class="row m-y-2">
  <div class="col-lg-8 push-lg-4 personal-info">
    <form action="/punch_events/<%= @event.id %>/edit" name="punch_edit" id="punch_edit" method="post">
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Check-In</label>
        <div class="col-lg-9">
	  <input class="form-control"
		 type="datetime-local"
		 id="check_in_display"
		 value="<%= @event.check_in.strftime('%Y-%m-%dT%H:%M') %>"
		 min="2018-06-07T00:00"
		 max="2020-06-14T00:00">
	  <input type="hidden" id="check_in" name="check_in" value="">
        </div>
      </div>

      <% if @event.check_out %>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Check-Out</label>
        <div class="col-lg-9">
	  <input class="form-control"
		 type="datetime-local"
		 id="check_out_display"
		 value="<%= @event.check_out.strftime('%Y-%m-%dT%H:%M') %>"
		 min="<%= @event.check_in.strftime('%Y-%m-%dT%H:%M') %>"
		 max="2020-06-14T00:00">
	  <input type="hidden" id="check_out" name="check_out" value="">
        </div>
      </div>
      <% end %>
      
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"></label>
        <div class="col-lg-9">
          <input type="button" class="btn btn-primary" onClick="submitPunchEvents();" value="Save Changes" />
        </div>
      </div>     
    </form>
  </div>
</div>
