<div class="d-flex justify-content-between p-3 mb-3 border-bottom">
  <h1 class="h2">Events List</h1>
  <button type="button" class="btn btn-primary hBack">
    <a style="text-decoration:none; color:white" href="/teachers/show">Dashboard</a>
  </button>
	
</div>


<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Date</th>
      <th>Check-IN Time</th>
      <th>Check-Out Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for event in @events %>
    <tr id="event_<%= event.id %>">
      <td><%= pretty_print_date(event.check_in) %></td>
      <td><%= pretty_print_time(event.check_in) %></td>
      <td><%= pretty_print_time(event.check_out) %></td>
      <td>	
	<button type="button" class="btn btn-dark">
	  <a style="text-decoration:none; color:white" href="/punch_events/<%= event.id %>/edit">Edit</a>
	</button>

	<% if event.check_out %>
	<button onClick="delete_event(<%= event.id %>);" type="button" class="btn btn-dark">Delete</button>
	<% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
