<div class="d-flex justify-content-between p-3 mb-3 border-bottom">
  <h1 class="h2">Welcome to HiMama! Please login to proceed.</h1>
</div>

<div class="row">
    <div class="w-100"></div>
    <div class="col">
      Please enter your name:
      
      <!-- Search form -->
      <form class="form-inline md-form mr-auto mb-4" action="/index" method="post">
	<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search_name">
	<button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">Search</button>
      </form>
      
      <!-- <form class="d-flex justify-content-center" method="GET" action="/snippets/?top=all"> -->
      <!--   <\!-- Default input -\-> -->
      <!--   <input type="search" name="search" placeholder="Type your query" aria-label="Search" class="form-control" value=""> -->
      <!--   <input type="top" name="top" value="all" style="display: none;"> -->
      <!--   <button class="btn btn-unique btn-rounded btn-sm my-0 p waves-effect waves-light" type="submit"> -->
      <!--     <i class="fas fa-search"></i> -->
      <!--   </button> -->
      <!-- </form> -->
    </div>  
  </div>
