<div class="d-flex justify-content-between p-3 mb-3 border-bottom">
  <h1 class="h2">Teachers Dashboard</h1>
    <button type="button" class="btn btn-primary hBack">
      <a style="text-decoration:none; color:white" href="/index">Home</a>
    </button>
</div>

<div class="row">
  <div class="w-100"></div>
  <div class="col">      
    <% if @user %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
	<h5 class="card-title"><%= @user.name %></h5>
	<h6 class="card-subtitle mb-2 text-muted">Teacher</h6>
	
	<% if @user.already_checked_in? %>
	Last check-in time: <%= pretty_print_time(@user.last_punch_event.check_in) %>
	<a href="/teachers/check_out" class="btn btn-primary">Check-Out</a>
	<% else %>
	<a href="/teachers/check_in" class="btn btn-primary">Check-In</a>
	<% end %>
	<a href="/punch_events/list" class="btn btn-primary">List Events</a>	
      </div>
    </div>
    <% end %>    
  </div>
</div>
