<!DOCTYPE html>
<html>
  <head>
    <title>HiMama</title>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>    
    <div class="container">
      <nav class="navbar navbar-light bg-light">
	<a href="/index">
	  <img src="/assets/Horizontal_Logo-655f8a0ff19d0b418aa3729a861dc402f167062b92d7cd735b087a7ce57518d7.png" style="height:40px">
	  </a>
      </nav>
	  
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= get_alert_class_name(key) %>" role="alert">
	<%= value %>
      </div>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
